h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}

body {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 0.02em;
  color: #555555;
  background-color: #FFFFFF;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #141414;
  font-family: "Playfair Display";
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 40px;
  }
}

.before-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.55%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5C8692;
}

.title-less {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #141414;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-link {
  margin-top: 10px;
  padding: 18px 43px;
  display: inline-block;
  background-color: #FFFFFF;
  border: 2px solid #5C8692;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #141414;
}
@media screen and (min-width: 768px) {
  .button-link {
    margin-top: 30px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0px;
}
@media screen and (max-width: 1199px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.header__box {
  width: auto;
  padding: 15px 15px;
}
@media screen and (min-width: 480px) {
  .header__box {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header__box {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__box {
    height: 125px;
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0;
  }
}

@media screen and (min-width: 480px) {
  .left-side {
    margin-bottom: 20px;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .left-side {
    margin-bottom: 0;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.25;
  color: #141414;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 45px;
  }
}

.logo__icon {
  margin-right: 12px;
}

.contact {
  margin-top: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.22;
  color: #141414;
}
@media screen and (min-width: 768px) {
  .contact {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    margin: 0;
  }
}

.contact__icon {
  margin-right: 12px;
}

.right-side {
  margin-left: auto;
  margin-right: 0px;
}
@media screen and (min-width: 1200px) {
  .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
@media screen and (min-width: 480px) {
  .site-nav {
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-bottom: 0px;
  }
}

.site-nav__link {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #555555;
}

.right-side__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .social {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.button {
  margin-right: 0px;
  padding: 16px 33px;
  background-color: #7A9CA5;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__icon {
  margin-right: 12px;
}

.footer {
  padding-top: 20px;
  background-color: #1E2C30;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 60px;
  }
}

.footer .container {
  padding-top: 0;
  padding-bottom: 0;
}

.social-box {
  padding-bottom: 20px;
  border-bottom: 1px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .social-box {
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.footer__logo-icon {
  margin-right: 17px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-link {
  width: 53px;
  height: 53px;
  border: 2px solid #5C8692;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.footer-navigate {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .footer-navigate {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-navigate {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer-navigate {
    gap: 150px;
  }
}

.footer-navigate__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  color: #FFFFFF;
  font-size: 18px;
}
@media screen and (min-width: 1200px) {
  .footer-navigate__title {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.footer-navigate__link {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 17px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer-navigate__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-navigate__link {
    font-size: 17px;
    line-height: 2;
  }
}

.address-box {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .address-box {
    margin-bottom: 20px;
  }
}

.address {
  margin-left: auto;
  margin-right: auto;
}

.address__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .address__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .address__text {
    font-size: 17px;
  }
}

.address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .address__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .address__link {
    font-size: 17px;
  }
}

.schedule {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .schedule {
    margin-bottom: 20px;
  }
}

.schedule__item {
  font-weight: 500;
  font-size: 17px;
  line-height: 2;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .schedule__item {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .schedule__item {
    font-size: 17px;
  }
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75px;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  background-color: #111E22;
}

.hero-home {
  text-align: center;
  background-color: #343B40;
}
@media screen and (min-width: 1200px) {
  .hero-home {
    background-color: #EBF3F5;
    padding-top: 135px;
    padding-bottom: 135px;
    position: relative;
    height: 925px;
  }
}

@media screen and (max-width: 1199px) {
  .hero-bg {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-bg {
    width: auto;
    height: 925px;
    position: absolute;
    top: 0;
    left: 50%;
  }
}

@media screen and (max-width: 1199px) {
  .hero-position {
    background-color: #EBF3F5;
  }
}
@media screen and (min-width: 768px) {
  .hero-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero-position {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .hero__content {
    padding-top: 70px;
    max-width: 510px;
  }
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.greeting__icon {
  margin-right: 10px;
}

.greeting__text {
  text-align: justify;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.55;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5C8692;
}
@media screen and (min-width: 1200px) {
  .greeting__text {
    text-align: left;
  }
}

.greeting__title {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 1.15;
  letter-spacing: -0.01em;
}
@media screen and (min-width: 768px) {
  .greeting__title {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .greeting__title {
    font-size: 70px;
    text-align: left;
  }
}

.greeting-info {
  text-align: justify;
  margin-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .greeting-info {
    text-align: left;
  }
}

.greeting-button {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .greeting-button {
    margin-left: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .greeting-button {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .hero__photo {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero__photo {
    width: 50%;
    height: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__photo {
    position: absolute;
    right: 120px;
    top: 56px;
    width: 550px;
    height: 545px;
  }
}

.hero-error {
  background-color: rgb(30, 44, 48);
  background-image: url(../images/Background.jpg);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero-error {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.hero__text {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.53;
  color: #FFFFFF;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 55px;
  }
}

.error-box {
  height: auto;
  width: 100%;
  background-color: pink;
  background-image: url(../images/Photo-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .error-box {
    padding-top: 335px;
    padding-bottom: 335px;
  }
}

.error__icon {
  margin-left: auto;
  margin-right: auto;
}

.error__title {
  margin-top: 39px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  color: #141414;
}

.error__text {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.home-bottom {
  margin-top: 39px;
  padding: 24px 64px;
  display: inline-block;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.25;
  color: #FFFFFF;
  background-color: #7A9CA5;
}

@media screen and (min-width: 1200px) {
  .treatments {
    padding-top: 143px;
    padding-bottom: 143px;
  }
}

.treatments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .treatments__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .treatments__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.treatments__item {
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .treatments__item {
    margin-bottom: 0;
    width: auto;
  }
}

.treatments__item:last-child {
  margin-bottom: 0;
}

.treatments__describe {
  text-align: center;
  max-width: 327px;
}
@media screen and (min-width: 1200px) {
  .treatments__describe {
    text-align: justify;
  }
}

.treatments__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 26px;
}
@media screen and (min-width: 1200px) {
  .treatments__title {
    text-align: left;
  }
}

.about {
  background-color: #EBF3F5;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 125px;
  }
}

.about__text {
  text-align: justify;
}
@media screen and (min-width: 1200px) {
  .about__text {
    text-align: left;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.about__list {
  margin-top: 37px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .about__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__item {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #1E2C30;
}

.about__icons {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .about__text .title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .bg-photo {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .bg-photo {
    height: 576px;
  }
}

.about__photo {
  position: relative;
}

.about__picture {
  -webkit-box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
          box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
  position: absolute;
}
@media screen and (min-width: 768px) {
  .about__picture {
    left: 119px;
  }
}
@media screen and (min-width: 1200px) {
  .about__picture {
    top: -536px;
    left: 660px;
  }
}

@media screen and (min-width: 1200px) {
  .price {
    padding-top: 145px;
    padding-bottom: 145px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .price__section {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .price__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.price__picture {
  -webkit-box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
          box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .price__picture {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .price__picture {
    margin: 0;
  }
}

.price__list {
  padding-top: 30px;
}

.price__item {
  padding-top: 18px;
  padding-bottom: 22px;
  border-bottom: 1px solid #9BB7BF;
}

.text-span {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  color: #555555;
}

@media screen and (min-width: 1200px) {
  .box-square {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .figure-square {
    position: absolute;
    top: -90px;
    left: 511px;
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .price__box {
    text-align: left;
  }
}

@media screen and (max-width: 1199px) {
  .price__box .button-link {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .padding-box-right {
    padding-left: 67px;
  }
}

@media screen and (min-width: 1200px) {
  .padding-box-left {
    padding-top: 90px;
    padding-right: 67px;
  }
}

.reviews {
  background-color: #EDF5F7;
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.before-title--centre {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .reviews__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 36px;
  }
}

@media screen and (max-width: 767px) {
  .reviews__item {
    margin-bottom: 36px;
  }
}

.reviews__text {
  padding: 20px;
  text-align: justify;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .reviews__text {
    padding: 45px;
  }
}

.reviews__customer {
  padding: 20px;
  background-color: #1E2C30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .reviews__customer {
    padding: 25px 44px 25px 44px;
  }
}

.customer__name {
  margin-left: 20px;
}

.stars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customer-title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.customer__country {
  font-size: 14px;
  color: #FFFFFF;
}

.reviews__icon {
  margin-right: 0;
  margin-left: auto;
}

.benefits {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 35px;
  }
}

.benefits__items {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__items {
    max-width: 350px;
    text-align: start;
  }
}

.benefits__picture {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #5C8692;
}
@media screen and (min-width: 768px) {
  .benefits__picture {
    margin: 0;
    margin-bottom: 25px;
  }
}

.benefits__icons {
  text-align: center;
}

.benefits__items .title-less {
  font-size: 26px;
}

.discount {
  background-color: #EBF3F5;
}
@media screen and (min-width: 1200px) {
  .discount {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.discount-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.discount-box__list {
  background-color: #FFFFFF;
  padding: 18px 40px;
  border: solid 1px #95BFCB;
}

.discount-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

.discount-box__item:first-child {
  margin-bottom: 18px;
}

.discount__icons {
  margin-right: 20px;
  margin-top: 10px;
}

.discount-box__contact {
  color: #141414;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0;
}

.discount-box__contact-accent {
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.08em;
  line-height: 1.5;
}

.discount-box__right {
  padding: 18px 34px;
  background-color: #1E2C30;
  color: #FFFFFF;
  font-weight: 800;
}

.discount-box__title {
  font-weight: 800;
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: 0.1em;
}

.discount-box__icons {
  margin: 8px auto;
}

.discount-box_text {
  letter-spacing: 0.02em;
}

.discount__registration {
  -webkit-box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
          box-shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
  background-color: #FFFFFF;
  padding: 66px 75px;
}

.field {
  margin-bottom: 15px;
  position: relative;
}

.field__input {
  padding-left: 54px;
  width: 100%;
  height: 65px;
  border: 1px solid #5C8692;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0;
  color: #555555;
}

.field__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.field__textarea {
  padding-left: 54px;
  padding-top: 18px;
  width: 100%;
  height: 135px;
  border: 1px solid #5C8692;
  resize: none;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0;
  color: #555555;
}

.field__icon-textarea {
  position: absolute;
  left: 15px;
  top: 23%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}/*# sourceMappingURL=main.css.map */