.about {
    background-color: $bg-color-section;

    &__box {
        @include tablet {
            display: flex;
            gap: 15px;
        }

        @include desktop {
            display: flex;
            gap: 125px;
        }
    }

    &__text {
        text-align: justify;

        @include tablet {
            max-width: 300px;
        }

        @include desktop {
            max-width: 530px;
            text-align: left;
            padding-top: $spacing-secondary*5;
            padding-bottom: $spacing-secondary*5;
        }

        .title {
            @include desktop {
                text-align: left;
            }
        }
    }

    &__paragraph {
        margin-top: $spacing-secondary*3;
    }

    &__list {
        margin-top: $spacing-secondary*3;
        margin-bottom: $spacing-secondary*3;
        display: flex;
        gap: 10px;

        @include desktop {
            margin-top: $spacing-secondary*7;
            margin-bottom: $spacing-secondary*4;
        }
    }

    &__item {
        background-color: $bg-color-base;
        padding: $spacing-secondary*2 $spacing-secondary*3;
        border: 1px solid $color-1;
        max-width: 165px;

        @include desktop {
            padding: $spacing-secondary*4 $spacing-secondary*6;
        }
    }

    &__icons {
        text-align: center;

        .title {
            @include desktop {
                text-align: center;
            }
        }
    }

    &__photo {
        background-color: $bg-color-base;

        @include tablet {
            background-color: transparent;
        }
    }

    &__picture {

        @include tablet {
            position: relative;
            top: 50px;
        }
    }
}