.benefits {
    text-align: left;

    .before-title {
        text-align: center;
    }

    &__list {
        margin-top: $spacing-secondary*3;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        @include tablet {
            margin-top: $spacing-secondary*6;
            gap: 30px;
        }
    }

    &__items {
        width: calc((100% - 15px) / 2);
        text-align: justify;

        @include tablet {

            width: calc((100% - 60px) / 3);
        }

        .title {
            text-align: left;
            max-width: 330px;
            margin-bottom: $spacing-secondary*3;
            margin-top: $spacing-secondary*3;
        }

    }

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        background-color: $color-2;

        @include tablet {
            margin-bottom: $spacing-secondary*6;
        }
    }

    &__icons {
        text-align: center;
    }
}