.blog {
    text-align: center;

    .before-title {
        text-align: left;
    }

    &__list {
        margin-top: $spacing-secondary*3;

        @include tablet {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            margin-bottom: $spacing-secondary*3;
        }

        @include desktop {
            gap: 45px;
            margin-bottom: $spacing-secondary*12;
        }
    }

    &__list:first-child {
        margin-top: 0;
    }

    &__item {
        background-color: $bg-color-blog-items;
        margin-bottom: $spacing-secondary*3;

        @include tablet {
            margin-bottom: 0;
            width: calc((100% - 20px) / 2);
        }

        @include desktop {
            width: calc((100% - 90px) / 3);
        }
    }

    &__picture {
        width: 100%;
        height: auto;
    }

    &__text {
        padding: $spacing-secondary*3;
        text-align: left;
    }

    &__pre-title {
        margin-bottom: $spacing-secondary*2;
        text-align: left;
        font-weight: 800;
        font-size: 13px;
        line-height: $line-height-base;
        letter-spacing: 0.06em;
        color: $color-2;
    }

    .title {
        text-align: left;
    }

    &__describe {
        text-align: justify;
        margin-top: $spacing-secondary*3;
    }

    &__link {
        margin-top: 0;

    }
}