.hero-home {
    text-align: center;
    background-color: $bg-color-dark;
    background-image: url(../images/about-hero-bg-min.jpg);
    width: 100%;

    @include tablet {
        background-image: url(../images/hero-bg-desktop-min.jpg);
        width: 100%;
        height: auto;
    }

    @include desktop {
        background-color: $bg-color-section;
        height: 925px;
    }

    &__content {

        @include tablet {
            max-width: 330px;
        }

        @include desktop {
            max-width: 510px;
            position: relative;
            top: 235px;
        }
    }
}

.greeting {
    display: flex;

    &__icon {
        margin-right: $spacing-secondary*2;
    }

    &__text {
        text-align: justify;
        font-weight: 600;
        font-size: $font-size-m;
        line-height: 1.55;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-white;

        @include tablet {
            color: $color-2;
        }
    }

    &__title {
        color: $color-white;
        text-align: left;
        margin-top: $spacing-secondary*3;
        margin-bottom: $spacing-secondary*3;

        @include tablet {
            color: $color-title;
            line-height: $line-height-base;
        }
    }

    &__info {
        text-align: justify;
        margin-bottom: $spacing-secondary*3;
        color: $color-white;

        @include tablet {
            text-align: left;
            color: $color-primary-text;
        }
    }

    &__button {

        @include tablet {
            margin-left: 0;
        }
    }
}