.price {
    @include tablet {
        text-align: center;
    }

    h3 {
        margin-bottom: $spacing-secondary*3;

        @include desktop {
            margin-bottom: $spacing-secondary*6;
        }
    }

    &__section {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__picture {
        box-shadow: $shadow;

        @include tablet {
            margin: 0;
            width: 50%;
        }
    }

    &__list {
        @include desktop {
            padding-top: $spacing-secondary*6;
        }
    }

    &__item {
        padding-top: $spacing-secondary*2;
        padding-bottom: $spacing-secondary*2;
        border-bottom: $border-bottom-price;

        @include desktop {
            padding-top: $spacing-secondary*3;
            padding-bottom: $spacing-secondary*4;
        }

        .title {
            text-align: left;
        }
    }

    &__box {
        @include tablet {
            text-align: left;
        }

        .button-link {

            @media screen and (max-width: 1199px) {
                margin-bottom: $spacing-secondary*4;
            }
        }
    }

}

.text-span {
    font-family: $font-family-text;
    font-weight: 400;
    font-size: $font-size-l;
    line-height: $line-height-text;
    color: $color-primary-text;
}

// .price__text {}

.box-square {
    @include tablet {
        position: relative;
    }
}

.figure-square {

    @include desktop {
        position: absolute;
        top: -90px;
        left: 511px;
        z-index: -1;
    }
}


.padding-box-right {
    @include tablet {
        padding-left: $spacing-secondary*3;
    }

    @include desktop {
        padding-left: $spacing-base*11;
    }
}

.padding-box-left {
    @include desktop {
        padding-top: $spacing-base*15;
        padding-right: $spacing-base*11;
    }

}