.reviews {
    background-color: $bg-color-section;

    &__list {
        @include tablet {
            display: flex;
            gap: 36px;
            margin-top: $spacing-secondary*3;
        }

        @include desktop {
            margin-top: $spacing-secondary*6;
        }
    }

    &__item {
        @media screen and (max-width:767px) {
            margin-bottom: $spacing-secondary*6;
        }
    }

    &__text {
        padding: $spacing-secondary*3;
        text-align: justify;
        background-color: $bg-color-base;

        @include desktop {
            padding: $spacing-secondary*9;
        }
    }

    &__customer {
        padding: $spacing-secondary*3;
        background-color: $bg-color-dark;
        display: flex;

        @include desktop {
            padding: $spacing-secondary*5 $spacing-secondary*9;
        }
    }

    &__icon {
        margin-right: 0;
        margin-left: auto;
    }

    .title {
        margin-bottom: $spacing-secondary*3;
    }
}

.before-title--centre {
    text-align: center;
}

.customer-name {
    margin-left: $spacing-secondary*3;
}

.stars-list {
    display: flex;
}

.customer-title {
    font-size: $spacing-secondary*3;
    line-height: 1.60;
    color: $color-white;
}

.customer-country {
    font-size: $font-size-s;
    color: $color-white;
}