.footer {
    padding-top: $spacing-secondary*4;
    background-color: $bg-color-dark;

    @include tablet {
        padding-top: $spacing-secondary*12;
    }

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    &__logo {
        display: flex;
        align-items: center;
        font-family: $font-family-logo;
        font-weight: 700;
        font-size: $font-size-logo-footer;
        line-height: $line-height-base;
        letter-spacing: 0.02em;
        color: $color-white;
    }

    &__logo-icon {
        margin-right: $spacing-secondary*3;
    }

    &__social-box {
        padding-bottom: $spacing-secondary*4;
        border-bottom: $border-bottom-footer;

        @include tablet {
            padding-bottom: $spacing-secondary*10;
            display: flex;
            justify-content: space-between;
        }
    }

    &__social {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    &__social-link {
        width: 53px;
        height: 53px;
        border: $border-social-link-footer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.navigation {
    padding-top: $spacing-secondary*3;
    padding-bottom: $spacing-secondary*3;

    @include tablet {
        display: flex;
        justify-content: space-between;
    }

    @include desktop {
        padding-top: $spacing-secondary*10;
        padding-bottom: $spacing-secondary*12;
    }
}

.footer-navigate {
    justify-content: space-around;
    text-align: center;
    display: flex;
    gap: 30px;

    @media screen and (max-width:767px) {
        margin-bottom: 20px;
    }

    @include tablet {
        justify-content: space-between;
    }

    @include desktop {
        gap: 150px;
    }

    &__title {
        margin-bottom: $spacing-secondary*3;
        font-weight: 700;
        font-size: $font-size-h6-desktop;
        line-height: $line-height-title;
        color: $color-white;

        @include tablet {
            font-size: $font-size-h6;
        }

        @include desktop {
            font-size: $font-size-h6-desktop;
            margin-bottom: $spacing-secondary*4;
        }
    }

    &__link {
        font-family: $font-family-text;
        font-weight: 500;
        font-size: $font-size-m;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: $color-white;

        @include tablet {
            font-size: $font-size-m;
        }

        @include desktop {
            font-size: $font-size-l;
            line-height: 2;
        }
    }
}

.address-box {
    text-align: center;

    @media screen and (max-width: 767px) {
        margin-bottom: $spacing-secondary*4;
    }
}

.address {
    margin-left: auto;
    margin-right: auto;

    &__text {
        display: flex;
        font-weight: 700;
        font-size: $font-size-m;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: $color-white;

        @include desktop {
            font-size: $font-size-l;
        }
    }

    &__link {
        display: flex;
        align-items: start;
        font-weight: 500;
        font-size: $font-size-m;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: $color-white;

        @include desktop {
            font-size: $font-size-l;
        }
    }
}

.schedule {
    text-align: center;

    @media screen and (max-width: 767px) {
        margin-bottom: $spacing-secondary*4;
    }

    &__item {
        font-weight: 500;
        font-size: $font-size-m;
        line-height: 2;
        letter-spacing: -0.01em;
        color: $color-white;

        @include desktop {
            font-size: $font-size-l;
        }
    }
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    font-size: $font-size-l;
    line-height: 2;
    letter-spacing: -0.01em;
    color: $color-white;
    background-color: $color-copyright;
}