.header {

    &__box {
        padding: $spacing-secondary*3;

        @include tablet {
            display: flex;
        }

        @include desktop {
            height: 125px;
            padding-left: $spacing-base*10;
            padding-right: $spacing-base*10;
            margin: 0;
            align-items: center;
        }
    }

    &__button {
        margin-right: 0px;
    }
}

.left-side {
    align-items: end;
    justify-content: space-between;

    @include mobile {
        // padding-right: $spacing-secondary*2;
        display: flex;
        justify-content: space-between;
    }

    @include tablet {
        display: block;

    }

    @include desktop {
        display: flex;
        align-items: center;
    }
}

.logo {
    display: flex;
    align-items: center;
    font-family: $font-family-logo;
    font-weight: 700;
    font-size: $font-size-logo;
    line-height: $line-height-base;
    color: $color-logo;

    @include desktop {
        margin-right: $spacing-secondary*9;
    }
}

.logo__icon {
    margin-right: $spacing-base;

    @include desktop {
        margin-right: $spacing-base*2;
    }
}

.contact {
    margin-top: $spacing-secondary*2;
    display: flex;
    font-weight: 600;
    font-size: $font-size-s;
    line-height: $line-height-base;
    color: $color-title;

    @include mobile {
        margin: 0;
    }

    @include tablet {
        font-size: $font-size-l;
        margin-top: $spacing-secondary*4;
        margin-bottom: 0;
    }

    @include desktop {
        margin: 0;
    }

    &__icon {
        margin-right: $spacing-base;

        @include desktop {
            margin-right: $spacing-base*2;
        }
    }
}

.right-side {
    margin-left: auto;

    @include desktop {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    &__section {
        display: flex;
    }
}

.main-nav {
    display: flex;
}

.site-nav {
    display: flex;
    align-items: center;
    margin: auto;

    @include mobile {
        gap: 15px;
        margin-bottom: $spacing-secondary*2;
        margin-top: $spacing-secondary*2;
    }

    @include tablet {
        margin-top: 0;
        gap: 10px;
    }

    &__link {
        padding: $spacing-base;
        line-height: $line-height-base;
        color: $color-primary-text;

        @include desktop {
            padding: $spacing-base*2;
        }

        &:hover,
        &:focus {
            color: $color-1;
            border-bottom: $border-hover;
            transition: 200ms linear;
        }
    }
}

.dropdown {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    color: $color-1;
    position: absolute;
    z-index: 1;
    display: none;
    background-color: inherit;

    @include desktop {
        padding: $spacing-base*2;
    }

    &__link {
        padding: $spacing-base;
        line-height: $line-height-base;
        color: $color-primary-text;

        @include desktop {
            padding: $spacing-base*4;
        }
    }

    &__item {
        padding: $spacing-base;

        &:hover,
        &:focus {
            color: $color-1;
            border-bottom: $border-hover;
            transition: 200ms linear;
        }
    }

    &__item:last-child {
        padding-bottom: $spacing-secondary*4;
    }
}

.dropdown-content .site-nav__link {
    display: block;
    text-align: left;
}

.social {
    display: flex;
    align-items: center;
    gap: 30px;

    @include desktop {
        margin-left: $spacing-secondary*6;
        margin-right: $spacing-secondary*6;
    }
}

.button__icon {
    margin-right: $spacing-base*2;
}