// Logo
$font-family-logo: $font-family-title;
$font-size-logo: 28px;
$font-size-logo-footer: 40px;
$color-logo: $color-title;
// HERO
$bg-color-hero: rgba(30, 44, 48, 1);
// Border
$border-bottom-footer: 1px solid $color-white;
$border-social-link-footer: 2px solid $color-border;

// Copyright
$color-copyright: #111E22;