$bg-color-base: $color-white;
$bg-color-section: #EBF3F5;
$bg-color-blog-items: #EDF5F7;
$bg-color-hero:rgba(30, 44, 48, 1);
$bg-color-values-icon: #F2FCFF;

$border-bottom-price: 1px solid #9BB7BF;
$border-bottom-line:#D3D3D3;
$border-discount: solid 1px #95BFCB;
$border-form: solid 1px $color-2;
$border-bottom-values: solid 1px $border-bottom-line;
$border-values-pictures: solid 1px $color-1;
$border-contacts: solid 2px $color-3;
