.about-us {
    background-color: $bg-color-section;

    &__container {
        background-color: $bg-color-dark;
        color: $color-white;
        position: relative;
    }

    &__describe {
        padding-top: $spacing-secondary*3;
        padding-bottom: $spacing-secondary*3;
        padding-right: $spacing-secondary*3;

        @include tablet {
            margin-left: 40%;
        }

        @include desktop {
            margin-left: 45%;
            padding-top: $spacing-secondary*6;
            padding-bottom: $spacing-secondary*6;
            padding-right: $spacing-secondary*6;
        }
    }

    &__text {
        color: $color-white;
        text-align: justify;
    }

    &__picture {
        @include tablet {
            width: 30%;
            height: auto;
            position: absolute;
            top: 15px;
            left: 15px;
        }

        @include desktop {
            width: 35%;
            top: -40px;
            left: 60px;
        }
    }
}