// .subscription { 
// }

.subscription__container {
    margin-bottom: 30px;

    @include tablet {
        display: flex;
        gap: 30px;
    }

    @include desktop {
        gap: 50px;
        margin-bottom: 60px;
    }
}

.subscription__describe {
    margin-bottom: 20px;

    @include tablet {
        max-width: 275px;
    }

    @include desktop {
        margin-bottom: 55px;
        max-width: 504px;
    }
}

.subscription__describe .before-title,
.subscription__describe .title {
    @include tablet {
        text-align: left;
    }
}

.subscription__text {
    text-align: justify;
    margin-bottom: 20px;

    @include tablet {}

    @include desktop {
        margin-bottom: 55px;
    }
}

.subscription__image {
    @include tablet {
        width: auto;
        height: 100%;
    }
}

.subscription__pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include desktop {
        gap: 45px;
    }
}

.subscription__button {
    display: flex;
}

.subscription__button .make-reservation__button {
    padding: 23px 72px;
}