.subscription {
    &__container {
        margin-bottom: $spacing-secondary*3;

        @include tablet {
            display: flex;
            gap: 15px;
        }

        @include desktop {
            gap: 50px;
            margin-bottom: $spacing-secondary*6;
        }
    }

    &__describe {
        margin-bottom: $spacing-secondary*3;

        @include tablet {
            max-width: 275px;
        }

        @include desktop {
            margin-bottom: $spacing-secondary*6;
            max-width: 504px;
        }

        .before-title,
        .title {
            @include tablet {
                text-align: left;
            }
        }
    }

    &__text {
        text-align: justify;
        margin-bottom: $spacing-secondary*3;

        @include desktop {
            margin-bottom: $spacing-secondary*6;
        }
    }

    &__image {
        @include tablet {
            width: auto;
            height: 100%;
        }
    }

    &__pictures {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        @include desktop {
            gap: 45px;
        }
    }

    &__button {
        display: flex;

        .make-reservation__button {
            padding: $spacing-secondary*4 $spacing-secondary*14;
        }
    }
}