.values {
    .before-title {
        text-align: center;
    }

    &__item {
        max-width: 620px;
        display: flex;
        border-bottom: $border-bottom-values;
        margin-left: auto;
        margin-right: auto;
        margin-top: $spacing-secondary*3;

        @include desktop {
            margin-top: $spacing-secondary*6;
        }

        &:last-child {
            border: none;
        }
    }

    &__picture {
        min-width: 100px;
        height: 100px;
        background-color: $bg-color-values-icon;
        border: $border-values-pictures;
        display: flex;
        margin-right: $spacing-secondary*3;

        @include tablet {
            margin-right: $spacing-secondary*6;
        }
    }

    &__icon {
        margin: auto;
    }

    &__describe {
        max-width: 458px;

        .title {
            text-align: left;
        }
    }

    &__text {
        margin-top: $spacing-secondary*3;
        margin-bottom: $spacing-secondary*3;

        @include desktop {
            margin-bottom: $spacing-secondary*6;
        }
    }
}