.footer__main {
    background-color: $footerBgColor;
}
.footer__container {
    // margin-left: 360px;
    //     margin-right: 360px;
    display: flex;
    justify-content:space-around;
    border-bottom: 1px solid $whiteColor;
}
.footer__logo {
    display: flex;
    align-items: center;
    font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 40px;
        line-height: 1.25;
    color: $whiteColor;
}
.footer__logo__icon {
    margin-right: 17px;
}
.footer__social {
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer__social__link {
width: 53px;
    height: 53px;
    border: 2px solid $borderColor;
    display: flex;
        align-items: center;
        justify-content: center;
}
.footer-navigate {
    display: flex;
    justify-content: space-around;
}

.footer-navigate__title {
    margin-bottom: 20px;
    font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 22px;
        line-height: 1.4;
        color: $whiteColor;
}

// .footer-navigate__list {}
.footer-navigate__link {
    font-family: 'Manrope';
        font-weight: 500;
        font-size: 17px;
        line-height: 2;
        letter-spacing: -0.01em;
        color: $whiteColor;
}
// .section-explore {}
.section-explore__item {

}
// .section-utility {}
// .address-box {}
// .address__list {}
// .address__item {}
.address__text {
    font-family: 'Manrope';
        font-weight: 700;
        font-size: 17px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: $whiteColor;
}
.address__link {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: -0.01em;
color: $whiteColor;
}
// .schedule {}
.schedule__item {
    font-family: 'Manrope';
        font-weight: 500;
        font-size: 17px;
        line-height: 2;
        letter-spacing: -0.01em;
        color: $whiteColor;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    letter-spacing: -0.01em;
    color: $whiteColor;
    background-color: $copyrightColor;
}