// .header {

// }
.header__box {
margin-top: 15px;
    @include tablet {
            display: flex;
    }
    @include desktop {
        height: 125px;
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 0;
    }
}
.left-side {

    @include mobile {
        margin-bottom: 20px;
            padding-right: 10px;
            display: flex;
            justify-content: space-between;
    }
   @include tablet {
       margin-bottom: 15px;
       display: block;
   }
   
    @include desktop {
            display: flex;
            align-items: center;
        margin-bottom: 0px;
    }
}
.logo {
display: flex;
align-items: center;
font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.25;
color: $titleColor;
@include desktop {
margin-right: 45px;
    }
}

.logo__icon {
    margin-right: 12px;
}
.contact {
margin-top: 15px;
margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    color: $titleColor;
    @include tablet {
font-size: 18px;
margin-top: 30px;
    }
        @include desktop {
margin: 0;
}}
.contact__icon {
    margin-right: 12px;
}
.right-side {
    margin-left: auto;
        margin-right: 0px;
        margin-bottom: 15px;
        @include desktop {
display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
        }
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-nav {
display: flex;
align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    @include mobile {
            gap: 30px;
        }
    @include desktop {   
        margin-bottom: 0px;
    }
}
.site-nav__link {
    font-family: 'Manrope';
        font-weight: 400;
        font-size: 18px;
        line-height: 1.22;
        color: $primaryTextColor;
}
.right-side__section {
display: flex;
justify-content: space-around;
}
.social {
    margin-left: 32px;
    margin-right: 32px;
   display: flex;
align-items: center;
gap: 30px;

}
// .social__link {

// }
// .social__icon {

// }
.button {
    margin-right: 0px;
    padding: 16px 33px;
    background-color: $btBgColor;
    font-family: 'Manrope';
        font-weight: 700;
        font-size: 14px;
        line-height: 1.25;
        color: $whiteColor;
        display: flex;
        align-items: center;
}
.button__icon {
    margin-right: 12px;
}