.hero-error {
background-color: $heroBgColor;
background-image: url(../images/Background.jpg);
text-align: center;
@include desktop {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}
.hero__text {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.53;
    color: $whiteColor;
}
.hero__title {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
    color: $whiteColor;
    @include desktop {
            font-size: 55px;
        }
}
