.button {
    padding: $spacing-base*2 $spacing-base*4;
    background-color: $bg-color-button;
    font-family: $font-family-text;
    font-weight: 700;
    font-size: $font-size-s;
    line-height: $line-height-base;
    letter-spacing: 0.12em;
    color: $color-white;
    display: flex;

    @include desktop {
        padding: $spacing-base*3 $spacing-base*5;
    }
}

.make-reservation__button {
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
}

.button-link {
    margin-top: $spacing-secondary*2;
    padding: $spacing-base*3 $spacing-base*7;
    display: inline-block;
    background-color: $color-white;
    border: 2px solid $color-border;
    font-family: $font-family-text;
    font-weight: 800;
    font-size: $font-size-s;
    line-height: $line-height-base;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $color-title;

    @include tablet {
        margin-top: $spacing-base*5;
    }
}