p {
    font-family: $font-family-text;
        font-weight: 400;
        font-size: $font-size-l;
        line-height: $line-height-text;
        letter-spacing: 0.02em;
        color: $color-primary-text;
}