.title {
    color: $color-title;
    font-family: $font-family-title;
    line-height: $line-height-title;
    font-weight: 700;
    letter-spacing: -0.01em;
    text-align: center;

}

.before-title {
    padding-top: $spacing-secondary*2;
    padding-bottom: $spacing-secondary*2;
    font-weight: 600;
    font-size: $font-size-s;
    line-height: 1.55;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-2;

    @include desktop {
        font-size: $font-size-m;
    }
}

h1 {
    font-size: $font-size-h1-mobile;
    line-height: 1.15;

    @include desktop {
        font-size: $font-size-h1-desktop;
    }
}

h3 {
    font-size: $font-size-h3;

    @include desktop {
        font-size: $font-size-h3-desktop;
    }
}

h5 {
    font-size: $font-size-h5;

    @include desktop {
        font-size: $font-size-h5-desktop;
    }
}

h6 {
    font-size: $font-size-h6;
    line-height: 1.2;

    @include desktop {
        font-size: $font-size-h6-desktop;
    }
}