// Title

// Size title
$font-size-h1-desktop: 70px;
$font-size-h1-mobile: 30px;

$font-size-h2-desktop: 55px;
$font-size-h3-desktop: 45px;
$font-size-h4-desktop: 40px;
$font-size-h5-desktop: 26px;
$font-size-h6-desktop: 22px;
$font-size-h6-tablet: 18px;


$color-title: #141414;

$line-height-title: 1.3;

$bg-color-dark: $color-1;

$color-border: $color-2;
$bg-color-button: $color-3;
// Border

