// $titleColor: #141414;
// $primaryTextColor: #555555;
// $btBgColor: #7A9CA5;
// $whiteColor: #FFFFFF;
// $heroBgColor:rgba(30, 44, 48, 1);
// // $heroBgImage: url(../)
// $heroMobileBgColor: #343B40;
// $footerBgColor: #1E2C30;
// $borderColor: #5C8692;
// $copyrightColor: #111E22;
// $sectionBgColor: #EBF3F5;
// $borderItemColor: #9BB7BF;
// $reviewsBgColor: #EDF5F7;
// $borderLine: #95BFCB;
// $borderBottomLine: #D3D3D3;
// $iconBg: #F2FCFF;


// NEW
// COLOR 
$bg-color-dark: #1E2C30;
$color-border: #5C8692;
$bg-color-button: #7A9CA5;
$color-title: #141414;
$color-primary-text: #555555;
$color-white: #FFFFFF;

// Typography
$font-family-title: Playfair Display;
$font-family-text: Manrope;

// Size title
$font-size-h1-desktop: 70px;
$font-size-h2-desktop: 55px;
$font-size-h3-desktop: 45px;
$font-size-h4-desktop: 40px;
$font-size-h5-desktop: 26px;
$font-size-h6-desktop: 22px;
$font-size-h6-tablet: 18px;

// Size text
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;

// Line Height
$line-height-base: 1.25;
$line-height-title: 1.3;

// Shadows
$shadow: 0px 20px 40px rgba(42, 68, 75, 0.2);

// Border
