$primaryTextColor: #555555;
$btBgColor: #7A9CA5;
$whiteColor: #FFFFFF;
$heroBgColor:rgba(30, 44, 48, 1);
// $heroBgImage: url(../)

$footerBgColor: #1E2C30;
$borderColor: #5C8692;
$copyrightColor: #111E22;
$titleColor: #141414;
$sectionBgColor: #EBF3F5;
$borderItemColor: #9BB7BF;
$shadowAbout: 0px 20px 40px rgba(42, 68, 75, 0.2);;
$priceShadow: 0px 20px 40px rgba(42, 68, 75, 0.2);
