.experts {
    @include desktop {
            padding-top: 100px;
            padding-bottom: 100px;
        }
}

.experts__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    @include tablet {
            flex-wrap: nowrap;
    }
}

.experts__item {
    
    @include desktop {
    width: 370px;
        }
       
}

.experts__photo {
width: 100%;
margin-bottom: 25px;
}

.experts__describe {
    text-align: center;
}

.experts__text {
    line-height: 1.6;
        letter-spacing: 0;
}

.experts__social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}
