.about-hero {
background-color: $heroBgColor;
    background-image: url(../images/about-hero-bg-min.jpg);
    text-align: center;
padding-top: 20px;
        padding-bottom: 20px;
    @include desktop {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.about-hero__container {
    max-width: 650px;
margin-left: auto;
margin-right: auto;
    @include desktop {

    }
}
 .contact__hero {
    @include desktop {
            padding-top: 200px;
            padding-bottom: 100px;
        }
 }



