.values {

@include desktop {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.values .before-title {
        text-align: center;
}

.values__item {
    max-width: 620px;
    display: flex;
    border-bottom: solid 1px $borderBottomLine;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.values__item:last-child {
    border: none;
}

.values__picture {
    min-width: 100px;
    height: 100px;
    background-color: $iconBg;
    border: solid 1px $footerBgColor;
display: flex;
margin-right: 10px;
@include tablet {
    margin-right: 30px;
}
}
.values__icon{
margin: auto;
}

.values__describe {
            max-width: 458px;
}

.values__text {
    margin-top: 10px;
    margin-bottom: 30px;
}