.footer {
    padding-top: 20px;
    background-color: $footerBgColor;
        @include tablet {
                padding-top: 60px;
            }
}
.footer .container {
    padding-top: 0;
        padding-bottom: 0;
    // @include desktop {
    //         padding-top: 0;
    //         padding-bottom: 0;
    //     }
}
.social-box {
    padding-bottom: 20px;
    border-bottom: 1px solid $whiteColor;
        @include tablet {
            padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        }
}
.footer__logo {
    display: flex;
    align-items: center;
    font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 40px;
        line-height: 1.25;
        letter-spacing: 0.02em;
    color: $whiteColor;
}
.footer__logo-icon {
    margin-right: 17px;
}
.footer__social {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.footer__social-link {
width: 53px;
    height: 53px;
    border: 2px solid $borderColor;
    display: flex;
        align-items: center;
        justify-content: center;
}

.navigation {
    padding-top: 15px;
    padding-bottom: 15px;
    @include tablet {
    display: flex;
    justify-content: space-between;
        }
                @include desktop {
                    padding-top: 50px;
                    padding-bottom: 60px;
                }
}
.footer-navigate {
    justify-content: space-around;
    text-align: center;
    display: flex;
        gap: 30px;
        @media screen and (max-width:767px) {
            margin-bottom: 20px;
        }
        @include tablet {
        justify-content: space-between;
        }
        @include desktop {
            gap: 150px;
        }
        
}

.footer-navigate__title {
    margin-bottom: 15px;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.4;
        color: $whiteColor;
            @include tablet {}
                font-size: 18px;
            @include desktop {
                font-size: 22px;
                margin-bottom: 20px;
            }
}

// .footer-navigate__list {
  
// }
// .footer-navigate__item {
   
// }
.footer-navigate__link {
    font-family: 'Manrope';
        font-weight: 500;
        font-size: 17px;
        line-height: 1;
        letter-spacing: -0.01em;
        color: $whiteColor;
            @include tablet {
                font-size: 14px;
            }       
            @include desktop {
                font-size: 17px;
            line-height: 2;
            }
}
// .box-explore {
    
// }

// .box-utility {}
.address-box {
    text-align: center;
    @media screen and (max-width: 767px) {
           margin-bottom: 20px;
        }
}
.address {
    margin-left: auto;
    margin-right: auto;
}
.address__text {
display: flex;
        font-weight: 700;
        font-size: 17px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: $whiteColor;
        @include tablet {
                font-size: 14px;
            }
      @include desktop {
     font-size: 17px;
    }
}
.address__link {
    display: flex;
        align-items: start;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: -0.01em;
color: $whiteColor;
@include tablet {
        font-size: 14px;
    }
        @include desktop {
            font-size: 17px;
        }
}

.schedule {
    text-align: center;
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
}
.schedule__item {
        font-weight: 500;
        font-size: 17px;
        line-height: 2;
        letter-spacing: -0.01em;
        color: $whiteColor;
        @include tablet {
                font-size: 14px;
            }
        @include desktop {
        font-size: 17px;
        }
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    letter-spacing: -0.01em;
    color: $whiteColor;
    background-color: $copyrightColor;
}