
.hero-home {
    text-align: center;
background-color: $heroMobileBgColor;

@include desktop {
    background-color: $sectionBgColor;
        padding-top: 135px;
        padding-bottom: 135px;
        position: relative;
            height: 925px;
    }
}
.hero-bg {
@media screen and (max-width: 1199px) {
        display: none;
    }
    @include desktop {
        width: auto;
height: 925px;
position: absolute;
    top: 0;
    left: 50%;
    }

}
.hero-position {
    @media screen and (max-width: 1199px) {
    background-color: $sectionBgColor;
    }
        @include tablet {
            display: flex;
            align-items: center;
        }
        @include desktop {
            position: relative;
        }
}
.hero__content {
    @include desktop {
        padding-top: 70px;
        max-width: 510px;
    }
}
.greeting {
    display: flex;
}
.greeting__icon {
    margin-right: 10px;
}
.greeting__text {
    text-align: justify;
    font-weight: 600;
        font-size: 15px;
        line-height: 1.55;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $borderColor;
        @include desktop {
    text-align: left;
        }
}
.greeting__title {
    margin-bottom: 15px;
    font-size: 30px;
line-height: 1.15;
letter-spacing: -0.01em;
@include tablet {
    margin-bottom: 25px;

    }
         @include desktop {
            font-size: 70px;
             text-align: left;
         }
}
.greeting-info {
    text-align: justify;
    margin-bottom: 25px;
    // @include tablet {
    //     }
    @include desktop {
        text-align: left;
    }
}
.greeting-button {
    margin-right: auto;
    margin-left: auto;
    @include tablet {
            margin-left: 80px;
        }
                @include desktop {
                    margin-left: 0;
                }
}
.hero__photo {
    @media screen and (max-width: 767px) {
            display: none;
}
@include tablet {
width: 50%;
    height: 50%;
    
}
        @include desktop {
            position: absolute;
            right: 90px;
            top: 56px;
            width: 550px;
            height: 545px;
        }
}