.blog {
  text-align: center;
    @include desktop {
            padding-top: 110px;
            padding-bottom: 110px;
        }
}

.blog .before-title {
    text-align: center;
}

// .title {}

.blog__list {
    @include tablet {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    @include desktop {
        gap: 45px;
        margin-bottom: 60px;
    }
}

.blog__item {
        background-color: $reviewsBgColor;
        margin-bottom: 30px;
        @include tablet {
                
                width: calc((100% - 20px) / 2);
            }
        
            @include desktop {
                margin-bottom: 0;
                width: calc((100% - 90px) / 3);
            }
}

.blog__picture {
    width: 100%;
    height: auto;
    @include tablet {

    }
}

.blog__text {
padding: 25px 30px;
text-align: left;
}

.blog__pre-title {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 800;
    font-size: 13px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    color: $borderColor
}

// .blog__title {}

.blog__describe {
    margin-top: 15px;
}

.blog__link {
margin-top: 0;
}
