.reviews {
    background-color: $reviewsBgColor;
    @include desktop {
            padding-top: 120px;
            padding-bottom: 120px;
        }
}

.before-title--centre {
    text-align: center;
}

.reviews__list {
    @include tablet {
        display: flex;
        gap: 36px;
    }

}

.reviews__item {
    @media screen and (max-width:767px) {
        margin-bottom: 36px;
    }
}

.reviews__text {
    padding: 20px;
    text-align: justify;
    background-color: $whiteColor;
    @include desktop {
        padding: 45px;
    }
}

.reviews__customer {
    padding: 20px;
    background-color: $footerBgColor;
    display: flex;
    @include desktop {
padding: 25px 44px 25px 44px;
    }
}

// .customer__photo {}

.customer__name {
margin-left: 20px;
}

.stars-list {
    display: flex;
}

// .star-item {}

.customer-title {
font-family: 'Playfair Display';
    font-weight: 700;
font-size: 20px;
line-height: 1.60;
letter-spacing: -0.01em;
color: $whiteColor;
}

.customer__country {
    font-size: 14px;
    color: $whiteColor;
}

.reviews__icon {
    margin-right: 0;
    margin-left: auto;
}