.schedule {
    background-color: $sectionBgColor;
    @include desktop {
            padding-top: 90px;
            padding-bottom: 90px;
        }
}
.schedule__registration {
    background-color: $whiteColor;
    padding: 20px;
    max-width: 1010px;
margin-left: auto;
margin-right: auto;
@include desktop {
    padding: 100px;
}
}
.schedule__text {
    margin-bottom: 20px;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
}